.books {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-content: center;
  margin-top: 1rem;
}

.booktitle {
  font-size: 18px;
  color: white;
}

.card:hover {
  scale: 1.04;
  transition: transform 0.2s ease-in-out;
}

.card:active {
}

.author {
  font-size: 18px;
}

.summary {
}

.book img {
  width: 200px;
}
