.navbar {
  gap: 30px;
  display: flex;
  justify-content: center;
}

.search {
  width: 200px;
  padding: 5px;
  border-radius: 12px;
  border: none;
}

.category {
  margin-top: 0.5rem;
  width: 200px;
  padding: 4px;
  border-radius: 12px;
  text-align: center;
  border: none;
}

.navlink {
  text-decoration: none;
}
